<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot=/var/www/html/{{ angular_app_version | default('current') }}

    <Directory /var/www/html/{{ angular_app_version }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
        FallbackResource /index.html  # Required for Angular routing
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ app_name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ app_name }}_access.log combined
</VirtualHost>
